#root > section {
  min-height: 100vh;
}

.search-form-wrap .hidden-input {
  display: none;
}

.search-form-wrap .field {
  max-width: 310px;
}

.box.paginator-wrap li {
  display: inline-flex;
}

.box.paginator-wrap .active-page .button.is-white {
  background-color: #00d1b2 !important;
  border-color: transparent !important;
  color: #fff !important;
}

.box.paginator-wrap {
  padding: 0.5em;
}

.box.paginator-wrap .paginator {
  position: relative;
  display: flex;
}

.box.paginator-wrap .paginator .previous,
.box.paginator-wrap .paginator .next {
  flex: 1;
}

.box.paginator-wrap .paginator .next {
  justify-content: flex-end;
}

.box.paginator-wrap .paginator .break {
  align-self: center;
}

.box.paginator-wrap .paginator.is-loading:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: white;
  z-index: 1;
  opacity: 0.9;
}

.box.paginator-wrap .paginator.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #4a4a4a;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute;
  z-index: 2;
}

.results-wrap .card {
  margin: 1em 0;
}

.results-wrap .card:first-child,
.results-wrap .card:last-child {
  margin: 0;
}

.results-wrap .card .card-content {
  padding: 0;
}

.results-wrap .flight-action {
  color: #3273dc !important;
}

.results-wrap .flight-action:hover {
  color: #363636 !important;
}